h1 {
    color: #0dcaf0;
}

h2 {
    color: #135564;
    font-size: medium;
}

h3 {
    color: #0dcaf0;
}

h6 {
    text-align: center;
}

.card-header {
    color: azure;
    font-weight: bold;
}
a:link {
    text-decoration: none;
}
.weather-forecast-temperature-min {
    opacity: 0.5;
}